
<div><%= image_tag @blog_post.cover_image if @blog_post.cover_image.attached? %></div>
<div><%= @blog_post.title %></div>
<div><%= @blog_post.content %></div>
<br>
<%= link_to "Home", blog_posts_path %>
<%= link_to "Edit", edit_blog_post_path %>
<%= link_to "Delete", blog_post_path, data:{turbo_method: :delete}%>